<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo" [containerInside]="false">
  <mdb-navbar-brand>
    <a class="logo navbar-brand" href="/">
      <img src="../assets/Logo.png" height="30" alt="" loading="lazy" />&nbsp;Vehicle Management System&nbsp;
    </a>
  </mdb-navbar-brand>
  <!-- Links Start-->
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="/">
          <mdb-icon fas icon="file-upload"></mdb-icon>File Upload
        </a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="/details">
          <mdb-icon fas icon="info-circle"></mdb-icon>Vehicle Deatils
        </a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="/import">
          <mdb-icon fas icon="file-download"></mdb-icon>File Import
        </a>
      </li>
    </ul>

    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">
          <mdb-icon fas icon="user"></mdb-icon>Ranmal Dewage
        </a>
      </li>
    </ul>
  </links>
  <!-- Links End -->
</mdb-navbar>

<!-- Main -->
<div>
  <router-outlet></router-outlet>
</div>

<!-- Client Operation Status Notifier -->
<notifier-container></notifier-container>

<!-- Main End -->