<nav aria-label="Page navigation example">
    <ul class="pagination pagination-circle pg-blue">
        <!-- <li *ngIf="paginationDetails" [ngClass]="{'page-item':true, 'disabled':!paginationDetails.hasPreviousPage}"
            (click)="firstPageInvoke()">
            <a class="page-link" mdbWavesEffect>First</a>
        </li> -->
        <li *ngIf="paginationDetails" [ngClass]="{'page-item':true, 'disabled':!paginationDetails.hasPreviousPage}"
            (click)="previousPageInvoke()">
            <a class="page-link" aria-label="Previous" mdbWavesEffect>
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li *ngIf="totalPages && currentPage" class="page-item"><a class="page-link disabled">{{currentPage}} /
                {{totalPages}} Pages</a></li>
        <li *ngIf="paginationDetails" [ngClass]="{'page-item':true, 'disabled':!paginationDetails.hasNextPage }"
            (click)="nextPageInvoke()">
            <a class="page-link" aria-label="Next" mdbWavesEffect>
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
        <!-- <li *ngIf="paginationDetails" [ngClass]="{'page-item':true, 'disabled':!paginationDetails.hasNextPage}"
            (click)="lastPageInvoke()">
            <a class="page-link" mdbWavesEffect>Last</a>
        </li> -->
        <li *ngIf="totalPages && currentPage" class="page-item">
            <a class="page-link disabled">5 Items Per Page</a>
        </li>
    </ul>
</nav>
