<!-- Update and Delete Operation Status Notifier -->
<notifier-container></notifier-container>

<!-- Vehicle Details Table -->
<div class="center-div-horizontally-vertically">
    <div class="card ">
        <h3 class="card-header text-center font-weight-bold title-uppercase py-4">Vehicle Details</h3>
        <div class="card-body">
            <div id="table" class="table-editable">

                <div class="row">
                    <div class="col-8">
                        <!-- Search Component -->
                        <app-search-items (searchItem)="searchEvent($event)"></app-search-items>
                    </div>

                    <div class="col-4">
                        <span class="table-add float-right mb-3 mr-2">
                            <a class="text-success" routerLink="/">
                                <mdb-icon fas icon="plus" size="2x"></mdb-icon>
                            </a>
                        </span>
                    </div>
                </div>

                <div class="row" [style.display]="searchText === ''?'none':'block'">
                    <h5> Displaying Search Results For :
                        <mdb-badge pill="true" color="purple darken-2">
                            {{searchText}}
                        </mdb-badge>
                    </h5>
                </div>
                <br/>

                <!-- Table Content -->
                <table class="table table-striped table-responsive-md btn-table">

                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Car Make</th>
                            <th>Car Model</th>
                            <th>VIN Number</th>
                            <th>Manufactured Date</th>
                            <th>Age of Vehicle</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                    </thead>

                    <tbody>
                        <!-- iteration goes here -->
                        <tr *ngFor="let vehicle of vehicles">
                            <th *ngIf="vehicle" scope="row">{{vehicle.id}}</th>
                            <td *ngIf="vehicle">{{vehicle.firstName}}</td>
                            <td *ngIf="vehicle">{{vehicle.lastName}}</td>
                            <td *ngIf="vehicle">{{vehicle.email}}</td>
                            <td *ngIf="vehicle">{{vehicle.carMake}}</td>
                            <td *ngIf="vehicle">{{vehicle.carModel}}</td>
                            <td *ngIf="vehicle">{{vehicle.vin}}</td>
                            <td *ngIf="vehicle">{{vehicle.manufacturedDate}}</td>
                            <td *ngIf="vehicle">{{vehicle.ageOfVehicle}}</td>
                            <td>
                                <button mdbBtn color="amber" size="sm" data-toggle="modal" data-target="#formModal"
                                    (click)="frame.show()" data-toggle="modal" mdbWavesEffect type="button"
                                    class="m-0">Update</button>
                            </td>
                            <td *ngIf="vehicle">
                                <button mdbBtn color="red" size="sm" mdbWavesEffect type="button" class="m-0"
                                    (click)="deleteVehicle(vehicle.id)">Delete</button>
                            </td>

                            <!-- Update Form Modal -->
                            <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1"
                                role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                                <!-- Reusable Form Component embedded inside Modal -->
                                <app-update-form *ngIf="vehicle && edgeCursorTracker" [frame]="frame"
                                    [vehicle]="vehicle" (parentUpdate)="updateVehicleEvent($event)"></app-update-form>

                            </div>

                        </tr>

                    </tbody>

                </table>

                <!-- Pagination Component -->
                <app-pagination *ngIf="pageInfo && totalCount" [paginationDetails]="pageInfo" [totalItems]="totalCount"
                    (pagination)="paginationEvent($event)" [searchStatus]="searchInit"></app-pagination>

            </div>
        </div>
    </div>
</div>